<template>
  <section class="products">
    <h1 class="main">Shopping cart</h1>
    <ul class="products-list tableHead">
      <li class="products-list-title row">
        <div class="col-product">Product details</div>
        <div class="col-quantity">Quantity</div>
        <div class="col-price">Price</div>
        <div class="col-total">Total</div>
      </li>
    </ul>
    <ul class="products-list">
      <li
        v-for="item in productsList"
        :key="item.product.id"
        class="product row"
      >
        <div class="col-product">
          <figure class="product-image">
            <img
              :src="require(`@/${item.product.img}`)"
              :alt="item.product.alt"
            />
            <div class="product-description">
              <h1>{{ item.product.description }}</h1>
              <p class="product-code">Product code {{ item.product.code }}</p>
            </div>
          </figure>
        </div>
        <div class="col-quantity">
          <button
            class="count"
            @click="$emit('remove-product', item.product.id)"
          >
            -</button
          ><input
            type="number"
            min="0"
            class="product-quantity"
            v-model="item.count"
            oninput="validity.valid||(value='');"
            @change="$emit('set-product-quantity', item.product.id, item.count)"
          /><button
            class="count"
            @click="$emit('add-product', item.product.id)"
          >
            +
          </button>
        </div>
        <div class="col-price">
          <span class="product-price">{{ item.product.price }}</span>
          <span class="product-currency currency">€</span>
        </div>
        <div class="col-total">
          <span class="product-price">{{
            item.product.price * item.count
          }}</span>
          <span class="product-currency currency">€</span>
        </div>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: {
    productsList: {}
  }
};
</script>
<style scoped>
.products-list li.products-list-title {
  color: #a6a7b3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 16px;
}

h2,
.product-code {
  font-size: 12px;
  line-height: 16px;
}

.product h1 {
  font-size: 16px;
  line-height: 24px;
}

.products {
  padding: 40px 32px 40px 56px;
}

.products button.count {
  font-size: 20px;
  line-height: 25px;
}

.products button.count {
  padding: 0 8px;
  height: 40px;
  border: none;
  background: transparent;
  color: #7350ff;
  font-weight: bold;
  cursor: pointer;
}

.products {
  flex: 1;
}

.products-list {
  position: relative;
  width: 100%;
}

.product-image {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.product-image img {
  margin-right: 16px;
  width: 72px;
  height: 72px;
  border: 1px solid #cacad1;
  border-radius: 4px;
}

.product-code {
  border-radius: 4px;
  color: #a6a7b3;
  letter-spacing: 0.13px;
  font-weight: 400;
}

.product-quantity {
  width: 40px;
  height: 40px;
  border: 2px solid #dbdbe0;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
}

.product-price {
  color: #000000;
  font-size: 16px;
}

.product .clear {
  border: none;
  background: transparent;
}

.product .clear span {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
}

.product .clear span:before,
.product .clear span:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 2px;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 8px;
  background-color: #a6a7b3;
  transform: rotate(-45deg);
  transform-origin: center center;
}

.product .clear span:before {
  transform: rotate(45deg);
}

.product h1 {
  color: #7350ff;
}
</style>
