<template>
  <div class="checkout">
    <CabifyCart
      @add-product="addProduct"
      @remove-product="removeProduct"
      @set-product-quantity="setProductQuantity"
      :productsList="checkout.productsList"
    />
    <CabifyOrderSummary
      :totalProductNumber="totalProductNumber"
      :totalCost="totalCost"
      :totalValueNoDiscount="totalNoDiscount"
      :discountObjs="discountObjs"
    />
  </div>
</template>

<script>
// @ is an alias to /src
import Cart from "@/components/Cart.vue";
import OrderSummary from "@/components/OrderSummary.vue";
import Checkout from "@/main.js";

export default {
  components: {
    CabifyCart: Cart,
    CabifyOrderSummary: OrderSummary
  },
  data() {
    return {
      initialized: false,
      checkout: Checkout
    };
  },
  computed: {
    discountObjs() {
      return this.checkout.discountObjs;
    },

    totalCost() {
      return this.checkout.totalValue;
    },
    totalProductNumber() {
      return this.checkout.productsQuantity;
    },
    totalNoDiscount() {
      return this.checkout.totalNoDiscountValue;
    }
  },
  methods: {
    addProduct(productID) {
      this.checkout.scan(productID);
    },
    removeProduct(productID) {
      this.checkout.remove(productID);
    },
    setProductQuantity(productID, quantity) {
      this.checkout.setQuantity(productID, quantity);
    }
  },
  created() {
    this.checkout = Checkout;
  },
  mounted() {
    this.initialized = true;
  }
};
</script>

<style scoped>
.checkout {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 1088px;
  max-height: 648px;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  border-radius: 4px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}
</style>
