<template>
  <aside class="summary">
    <h1 class="main">Order Summary</h1>
    <ul class="summary-items wrapper border">
      <li>
        <span class="summary-items-number">{{ totalProductNumber }} Items</span
        ><span class="summary-items-price"
          >{{ totalValueNoDiscount }}<span class="currency">€</span></span
        >
      </li>
    </ul>
    <div class="summary-discounts wrapper-half border">
      <h2>Discounts</h2>
      <ul style="max-height:10px;">
        <li
          v-for="item in discountObjs"
          :key="item.discountProductId + item.discountId"
        >
          <template v-if="item.discountValue > 0">
            <span
              >{{ item.discountDescription }}
              {{ item.discountProductDescription }} offer</span
            ><span>-{{ item.discountValue }}€</span>
          </template>
        </li>
      </ul>
    </div>
    <div class="summary-total wrapper">
      <ul>
        <li>
          <span class="summary-total-cost">Total cost</span
          ><span class="summary-total-price">{{ totalCost }}€</span>
        </li>
      </ul>
      <button type="submit">Checkout</button>
    </div>
  </aside>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: {
    totalProductNumber: Number,
    totalValueNoDiscount: Number,
    totalCost: Number,
    discountObjs: Array
  }
};
</script>

<style scoped>
.summary {
  display: flex;
  flex-flow: column wrap;
  padding: 40px 32px;
  width: 312px;
  background-color: #f3f3f3;
  color: #212240;
}

.summary-total-price {
  font-size: 20px;
  line-height: 25px;
}
.summary > * {
  width: 100%;
}

.summary-items-price {
  font-size: 16px;
  font-weight: bold;
}

.summary input {
  margin: 8px auto;
  color: #a6a7b3;
  text-indent: 16px;
  text-transform: uppercase;
}

.summary input::placeholder {
  color: #a6a7b3;
  text-transform: lowercase;
}

.summary ul li {
  display: flex;
  justify-content: space-between;
}

.summary ul li > *:nth-child(2) {
  font-weight: bold;
}

.summary ul li + li {
  margin-top: 20px;
}

.summary-total {
  align-self: flex-end;
  margin-top: auto;
  padding-top: 16px;
  padding-bottom: 0;
  border-top: 1px solid rgba(33, 34, 64, 0.16);
  color: #212240;
}

.summary-total-cost {
  flex-basis: 100%;
  text-transform: uppercase;
}

.summary-total-price {
  font-weight: bold;
}

.summary button[type="submit"] {
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  border-radius: 4px;
  background: #7350ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  cursor: pointer;
}

h2 {
  color: #a6a7b3;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  color: #717285;
}
</style>
