<template>
  <div
    ref="modal"
    v-bind:style="{ display: modalDisplay }"
    id="myModal"
    class="modal"
  >
    <div class="modal-content">
      <span class="close" @click="closeModal">&times;</span>
      <div class="drow">
        <div class="product-image dcol-14">
          <img :src="require(`@/${product.img}`)" :alt="product.alt" />
        </div>
        <div class="dcol-6 product-details">
          <div class="drow" style="margin-bottom:50px;padding-top:30px">
            <div class="dcol-0" style="padding-right:30px">
              <h1>{{ product.description }}</h1>
            </div>
            <div class="dcol-20" style="float:right">
              <h1>{{ product.price }}€</h1>
            </div>
          </div>
          <div class="drow" style="font-size:18px;">
            <div>{{ product.longDescription }}</div>
          </div>
          <div class="drow" style="margin-top:50px;font-size:18px">
            <p class="product-code">Product code {{ product.code }}</p>
          </div>
          <div class="drow summary button" style="margin-top:50px;">
            <button type="submit" @click="add">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Store from "@/main.js";

export default {
  props: ["product", "showModal"],
  data() {
    return {};
  },
  computed: {
    modalDisplay() {
      return this.showModal ? "visible" : "none";
    }
  },
  methods: {
    closeModal() {
      this.$refs.modal.style.display = "none";
    },
    add() {
      Store.scan(this.product.id);
    }
  },
  beforeUnmount: function() {
    //debugger; //eslint-disable-line
  }
};
</script>

<style>
.summary button[type="submit"] {
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  border-radius: 4px;
  background: #7350ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  cursor: pointer;
}
h1 {
  font-size: 25px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column;
  justify-content: center; */
}
.product-long-description {
  float: le;
}

.product-image {
  flex: 30%;
  margin-right: 20px;
}
.product-details {
  padding: 0px;
  flex: 70%;
  flex-direction: column;
}

.product-image img {
  width: 100%;
  height: 92%;
  border: 1px solid #cacad1;
  border-radius: 4px;
}

.product-code {
  border-radius: 4px;
  color: #a6a7b3;
  letter-spacing: 0.13px;
  font-weight: 400;
}

.product-quantity {
  width: 40px;
  height: 40px;
  border: 2px solid #dbdbe0;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
}

.product-price {
  color: #000000;
  font-size: 16px;
}

.product .clear {
  border: none;
  background: transparent;
}

/* The Modal (background) */
.modal {
  overflow: auto;
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 0px;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 50px;
  border: 1px solid #888;
  width: 45%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 38px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>
