<template>
  <div id="nav">
    <router-link to="/">Checkout</router-link>
    <span style="color:white;">|</span>
    <router-link to="/Shirt">Add Shirt</router-link>
    <span style="color:white;">|</span>
    <router-link to="/Mug">Add Mug</router-link>
    <span style="color:white;">|</span>
    <router-link to="/Cap">Add Cap</router-link>
  </div>
  <router-view :key="$route.fullPath"></router-view>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>

<style lang="scss">
#nav a {
  color: white;
}

* {
  box-sizing: border-box;
  outline: none;
}
/* Column container */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
button,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

a {
  cursor: pointer;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

a {
  text-decoration: none;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea {
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

input::-ms-clear {
  display: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input::placeholder {
  opacity: 1;
}

h1.main {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(33, 34, 64, 0.16);
}

.wrapper.border,
.wrapper-half.border {
  border-bottom: 1px solid rgba(33, 34, 64, 0.16);
}

product-quantity,
.summary input,
.summary ul li,
.summary-total-cost {
  font-size: 14px;
  line-height: 17px;
}

h2 {
  color: #717285;
  letter-spacing: 0;
  font-weight: 300;
}

h2 + * {
  margin-top: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("./assets/background.png");
  background-color: #212240;
  background-position: top left;
  background-size: cover;
  font-family: Avenir, "Avenir Next", "Segoe UI", sans-serif;
  font-weight: regular;
}

h1 {
  position: relative;
  letter-spacing: -0.18px;
  font-size: 18px;
  line-height: 24px;
}

.wrapper {
  padding: 32px 0;
}

.wrapper-half {
  padding: 24px 0;
}

.tableHead {
  padding: 32px 0;
}

.row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.row + .row {
  margin-top: 32px;
}

[class*="col-"] {
  display: flex;
  align-items: center;
}

[class*="col-"]:nth-child(n + 2) {
  justify-content: center;
}

.col-product {
  width: 45%;
}

.col-quantity {
  width: 20%;
}

.col-price {
  width: 20%;
}

.col-total {
  width: 15%;
}

input {
  width: 100%;
  height: 48px;
  border-radius: 4px;
}

.currency {
  margin-left: 4px;
}

.cab-cont .drow {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  flex-wrap: nowrap;
}

.cab-cont .dvertical {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cab-cont .dhorizontal-center {
  display: flex;
  justify-content: center;
}

.cab-cont .dvertical-center {
  display: flex;
  align-items: center;
}

.cab-cont .dcenter {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.cab-cont .dcol1 {
  flex: 1;
}

.cab-cont .dcol2 {
  flex: 2;
}

.cab-cont .dcol3 {
  flex: 3;
}

.cab-cont .dcol4 {
  flex: 4;
}

.cab-cont .dcol5 {
  flex: 5;
}

.cab-cont .dcol6 {
  flex: 6;
}

.cab-cont .dcol7 {
  flex: 7;
}

.cab-cont .dcol8 {
  flex: 8;
}

.cab-cont .dcol-1 {
  flex: 0 0 5%;
  max-width: 5%;
}
.cab-cont .dcol-2 {
  flex: 0 0 10%;
  max-width: 10%;
}
.cab-cont .dcol-3 {
  flex: 0 0 15%;
  max-width: 15%;
}
.cab-cont .dcol-4 {
  flex: 0 0 20%;
  max-width: 20%;
}
.cab-cont .dcol-5 {
  flex: 0 0 25%;
  max-width: 25%;
}
.cab-cont .dcol-6 {
  flex: 0 0 30%;
  max-width: 30%;
}
.cab-cont .dcol-7 {
  flex: 0 0 35%;
  max-width: 35%;
}
.cab-cont .dcol-8 {
  flex: 0 0 40%;
  max-width: 40%;
}
.cab-cont .dcol-9 {
  flex: 0 0 45%;
  max-width: 45%;
}
.cab-cont .dcol-10 {
  flex: 0 0 50%;
  max-width: 50%;
}
.cab-cont .dcol-11 {
  flex: 0 0 55%;
  max-width: 55%;
}
.cab-cont .dcol-12 {
  flex: 0 0 60%;
  max-width: 60%;
}
.cab-cont .dcol-13 {
  flex: 0 0 65%;
  max-width: 65%;
}
.cab-cont .dcol-14 {
  flex: 0 0 70%;
  max-width: 70%;
}
.cab-cont .dcol-15 {
  flex: 0 0 75%;
  max-width: 75%;
}
.cab-cont .dcol-16 {
  flex: 0 0 80%;
  max-width: 80%;
}
.cab-cont .dcol-17 {
  flex: 0 0 85%;
  max-width: 85%;
}
.cab-cont .dcol-18 {
  flex: 0 0 90%;
  max-width: 90%;
}
.cab-cont .dcol-19 {
  flex: 0 0 95%;
  max-width: 95%;
}
.cab-cont .dcol-20 {
  flex: 0 0 100%;
  max-width: 100%;
}
</style>
